<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <div class="Form">
            <div class="nome">
                <input name="nome" placeholder="nome">
            </div>
            <div class="email">
                <input name="email" placeholder="email">
            </div>
            <div class="senha">
                <input name="senha" placeholder="senha">
            </div>
            <button class="enviar">
                enviar
            </button>
        </div>
    </form>
</body>
</html>