<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de usuarios no banco de dados</h1>
    <div>
        <a href="/">Retornar para a tela de cadastro</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %} <!--faz um for para iterar e acessar valores em usuarios -->
    <tr>
        <td>{{ usuario[0] }}</td>
        <td>{{ usuario[1] }}</td>
        <td>{{ usuario[2] }}</td>
        <td><a href="{{ url_for('show_data_to_edit', id=usuario[0]) }}">editar</a></td>
        <!--usa o url_for do flask para identificar o url a partir da função. o segundo parametro é para mandar
         o id pelo URL-->
        <td><a href="{{ url_for('erase_user', id=usuario[0]) }}">deletar</a></td>
    </tr>

        {% endfor %}

        </tbody>
    </table>



</body>
</html>