<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de usuarios no banco de dados</h1>
    <div>
        <a href="{{ url_for('render_form') }}">Retornar para a tela de cadastro</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</body>
</html>